html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content img {
    margin-right: 40px;
    width: 100px;
    height: auto;
}

header {
    font-size: 30px;
    background-color: red;
    color: white;
    padding: 10px 0;
    height: 100px;
    text-align: center;
}

header h1 {
    margin: 0;
}

footer {
    font-family: Arial;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

h1, h2 {
    text-align: center;
}

form {
    width: 50%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 30px;
}

input {
    width: 95%;
    margin-top: 5px;
    font-size: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #475c48;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #106dac;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {body {
    background-size: auto;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    font-size: 4vw;
    height: auto;
}

.header-content {
    flex-direction: row-reverse;
    text-align: center;
}

button {
    font-size: 50px;
    height: auto;
    width: 100%;
    border-radius: 20px;
}

form{
    width: 100%;

}

table{
    width: 100%;
}
}